/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quattrocento:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Poppins:wght@100;200&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1e2328;
    height: 100vh;
}

/* ------------------------------General paddings/margins, texts and styles */

.uppercase {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

section p {
    font-family: "Quattrocento",sans-serif;
    color: #fafafa;
    text-align: center;
}

.inline-block {
    display: inline-block;
}

section h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #fafafa;
    padding-top: 8rem;
}

section h2, h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fafafa;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.full-height {
    height: 100%;
}

.opaque-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
/* ------------------------------Navbar */

header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}
nav {
    background-color: #1e2328;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar-brand {
    font-family: "Lobster",sans-serif;
    color: #fafafa;
    font-size: xx-large;
    padding-left: 50px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.navbar-brand:hover {
    color: #f5b301;
}

.nav-item a {
    color: #fafafa;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: x-small;
    font-weight: 200;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.nav-item a:hover {
    color: #f5b301;
}

nav button i {
    color: #fafafa;
    border: none;
}

.navbar-nav {
    /* Bug 1 solution */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* ------------------------------Landing Page */

.landing {
    min-height: 100vh;
    position: relative;
    background-image: url(../images/shyam-vHVaUUJ7w-A-unsplash.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    z-index: 1;
}

.avatar {
    height: 100%;
    width: 100%;
    margin-top: 8rem;
}

.landing h1 {
    color: #f5b301;
    font-size: 60px;
    margin-top: 7rem;
}

.landing p {
    color: #fafafa;
    padding-top: 25px;
    margin-bottom: 2.5rem;
}

.landing .btn {
    text-decoration: none;
    color: #fafafa;
    background-color: #f5b301;
    border-radius: 10px;
    display: block;
    margin: 0 auto 2.5rem auto;
    width: 8rem;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.landing .btn:hover {
    background-color: #d49d06;
}



/* This feature below was taken from the YouTuber "WEB CIFAR" and is referred to in the readme */

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #fafafa;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  display: block;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-50%, -100%) rotate(45deg);
      -ms-transform: translate(-50%, -100%) rotate(45deg);
          transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #fafafa;
  border-top: transparent;
  border-left: transparent;
  -webkit-animation: scroll-down 1s ease-in-out infinite;
          animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

/* End of "WEB CIFAR'S code" */

/* ------------------------------About */

.about {
    background-image: url(../images/calvin-weibel-K89vw3GUoBo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    position: relative;
}

.about h1 {
    color: #fafafa;
    letter-spacing: 3px;
}

.about p{
    color: #ffffff;
    font-size: 1.3rem;
}

.about p a {
    text-decoration: none;
    color: #f5b301;
}

.about hr {
    width: 50px;
    height: 4px;
    color: #fafafa;
    border-radius: 5px;
    margin: 0 auto;
}

.bio {
    background-color: rgba(0, 0, 0, 0.1);
}

/* ------------------------------(About contd.)Language Levels */

.progress {
    position: relative;
    height: 1.2rem;
    border-radius: 20px;
    opacity: 100%;
    max-width: 700px;
    margin: 1rem auto 2.5rem auto;
    background-color: rgba(3, 3, 3, 0.2);
    border: 1px solid rgba(245,179,1, 0.2) ;
}

.progress-bar {
    background-color: #f5b301;
}

.language-name {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    color: #fafafa;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
}

#progress-top {
    margin-top: 4rem;
}

/* ------------------------------Projects */

#projects {
    min-height: 100vh;
    position: relative;
}

.card {
    margin-bottom: 2rem;
}

#card {
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#projects h2 {
    padding-top: 10rem;
}

.projects .btn {
    text-decoration: none;
    color: #fafafa;
    background-color: #f5b301;
    border-radius: 10px;
    margin: 0 auto 2.5rem auto;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.projects .btn:hover {
    background-color: #d49d06;
}
.thumbnail {
    max-width: 50%;
}

img.img-fluid.thumbnail {
    margin: 2rem auto;
    display: block;
    min-width: 300px;
    max-height: 153px;
    background-size: contain;
}

/* ------------------------------Contact */

.contact {
    height: 100%;
    position: relative;
}

 .contact .col-md-8 {
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
 }

form {
 margin:0 auto;
 background:#1e2328;
 position:absolute;
 left:50%;
 top:50%;
 -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
}

form input {
    display: block;
    margin-bottom: 1rem;
    width: 30rem;
}

form textarea {
    width: 30rem;
    height: 8rem;
}

#contact .btn {
    text-decoration: none;
    color: #fafafa;
    background-color: #f5b301;
    border-radius: 10px;
    display: block;
    margin: 0 auto 2.5rem auto;
    width: 8rem;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}
/* ------------------------------Footer */

footer {
    color: #fafafa;
    position: relative;
    text-align: center;
}

.footer-heading {
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    letter-spacing: 4px;
    padding: 15px 5px;
}

.cv-download i {
    font-size: 16px;
    text-align: center;
    color: #fafafa;
    padding-left: 5px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.cv-download i:hover {
    color: #f5b301;
}

.social-links li a i {
    padding: 0px 5px;
    font-size: 25px;
    color: #fafafa;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.social-links li a i:hover {
    color: #f5b301;
}

/* ------------------------------Confirmation Page */

#footer-confirmation {
    position: fixed;
    bottom: 0;
}

#confirmation {
    height: 100vh;
    position: relative;
}

#confirmation .row {
    margin-top: 15%;
}

/* ------------------------------Media Queries */

@media(min-width: 1200px) {
    .about p {
    padding: 0 50px;
}
}

@media(min-width: 1200px) {
    .projects {
        padding: 0 75px;
    }
}

@media(max-width: 500px) {
    form {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    bottom: 5px;
}
}

@media(max-width: 500px) {
    form input, form textarea {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
}

@media(max-width: 350px) {
    .landing h1 {
        padding-top: 0;
    }
}

@media(max-width: 350px) {
    button.navbar-toggler {
    margin: 0 auto;
}
}

@media(max-width: 350px) {
    #contact h1 {
        padding-top: 6.5rem;
    }
}

@media(max-width: 350px) {
    .navbar-brand {
        white-space: normal;
    }
}

@media(max-width: 576px) {
    .landing {
        height: 90v;
    }
}
