@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quattrocento:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Poppins:wght@100;200&display=swap');

* {
    padding: 0;
    margin: 0;
}
/* ------------------------------Navbar */
nav {
    background-color: #1e2328;
    position: fixed;
    top: 0;
    z-index: 1;
    min-height: auto;
}

.navbar-brand {
    font-family: "Lobster",sans-serif;
    color: #fafafa;
    font-size: xx-large;
    padding-left: 50px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.navbar-brand:hover {
    color: #f5b301;
}

.nav-item a {
    color: #fafafa;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: x-small;
    font-weight: 200;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.nav-item a:hover {
    color: #f5b301;
}

.navbar-nav {
    /* Bug 1 solution */
    align-items: center;
}

/* ------------------------------Landing Page */

.landing {
    background-color: #1e2328;
    min-height: 100vh;
}

.landing h1 {
    color: #f5b301;
    font-size: 50px;
    text-align: center;
    padding-top: 25%;
}

.landing p {
    color: #fafafa;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 2.5rem;
}

.hero-image {
    background: url(../images/—Pngtree—successful\ people\ business\ elite\ financial_3784064.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    width: 400px;
    margin-top: 2rem;
    overflow: visible;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.landing .btn {
    text-decoration: none;
    color: #fafafa;
    background-color: #f5b301;
    border-radius: 10px;
    display: block;
    margin: 0 auto 2.5rem auto;
    padding: 0 auto;
    width: 8rem;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.landing .btn:hover {
    background-color: #fafafa;
    color: #f5b301;
}


/* ------------------------------General paddings/margins & texts */

.uppercase {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    font-family: "Quattrocento",sans-serif;
}

.inline-block {
    display: inline-block;
}

section h1 {
    font-family: "Poppins", sans-serif;
}


/* ------------------------------Footer */

footer {
    background-color: #1e2328;
    color: #fafafa;
    bottom: 0;
    text-align: center;
}

.footer-heading {
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    letter-spacing: 4px;
    padding: 15px 5px;
}

.cv-download i {
    font-size: 16px;
    text-align: center;
    color: #fafafa;
    padding-left: 5px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.cv-download i:hover {
    color: #f5b301;
}

.social-links li a i {
    padding: 0px 10px;
    font-size: 25px;
    color: #fafafa;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.social-links li a i:hover {
    color: #f5b301;
}

li.list-inline-item.col-md-3.col-lg-2 {
    padding: 15px;
}

p.inline-block {
    padding: 0px 30px;
}